<html>
<head></head>

<body>

  <h1>To Do List</h1>
  <h2>{{task}}</h2>
<!-- starting of the loop -->
 <ul>
  {{#taskList}}

  <li>{{task}}</li>

  <!-- end of the loop -->
  {{/taskList}}
</ul>

</body>
</html>
